In [1]:
import numpy as np
import pandas as pd

In [57]:

def generate_sales_data(start_date='2023-01-01', years=2):
    # Génération des dates
    date_range = pd.date_range(start=start_date, periods=365 * years, freq='MS')
    date_range = date_range.append(date_range)

    # Génération des ventes aléatoires
    sales_data = np.random.randint(1, 10, size=365 * years * 2)

    # Génération des identifiants d'articles
    item_ids = [f"item_0"] * (365 * years) + [f"item_1"] * (365 * years)

    # Création du DataFrame
    df = pd.DataFrame({
        'Date': date_range,
        'sales': sales_data,
        'item_id': item_ids
    })

    return df

In [58]:
df = generate_sales_data()

In [59]:
df

           Date  sales item_id
0    2023-01-01      8  item_0
1    2023-02-01      5  item_0
2    2023-03-01      3  item_0
3    2023-04-01      5  item_0
4    2023-05-01      6  item_0
...         ...    ...     ...
1455 2083-06-01      6  item_1
1456 2083-07-01      2  item_1
1457 2083-08-01      1  item_1
1458 2083-09-01      4  item_1
1459 2083-10-01      2  item_1

[1460 rows x 3 columns]

In [60]:
df2 = df.groupby('item_id')

In [73]:
df['1'] = df.groupby('item_id')['sales'].shift(12)

In [74]:
df2.head(24)

          Date  sales item_id    1
0   2023-01-01      8  item_0  NaN
1   2023-02-01      5  item_0  NaN
2   2023-03-01      3  item_0  NaN
3   2023-04-01      5  item_0  NaN
4   2023-05-01      6  item_0  NaN
5   2023-06-01      7  item_0  NaN
6   2023-07-01      4  item_0  NaN
7   2023-08-01      9  item_0  NaN
8   2023-09-01      7  item_0  NaN
9   2023-10-01      7  item_0  NaN
10  2023-11-01      6  item_0  NaN
11  2023-12-01      1  item_0  NaN
12  2024-01-01      5  item_0  8.0
13  2024-02-01      3  item_0  5.0
14  2024-03-01      1  item_0  3.0
15  2024-04-01      3  item_0  5.0
16  2024-05-01      1  item_0  6.0
17  2024-06-01      2  item_0  7.0
18  2024-07-01      3  item_0  4.0
19  2024-08-01      2  item_0  9.0
20  2024-09-01      1  item_0  7.0
21  2024-10-01      5  item_0  7.0
22  2024-11-01      5  item_0  6.0
23  2024-12-01      3  item_0  1.0
730 2023-01-01      2  item_1  NaN
731 2023-02-01      9  item_1  NaN
732 2023-03-01      2  item_1  NaN
733 2023-04-01      6  item_1  NaN
734 2023-05-01      7  item_1  NaN
735 2023-06-01      1  item_1  NaN
736 2023-07-01      3  item_1  NaN
737 2023-08-01      9  item_1  NaN
738 2023-09-01      7  item_1  NaN
739 2023-10-01      2  item_1  NaN
740 2023-11-01      8  item_1  NaN
741 2023-12-01      2  item_1  NaN
742 2024-01-01      8  item_1  2.0
743 2024-02-01      9  item_1  9.0
744 2024-03-01      9  item_1  2.0
745 2024-04-01      4  item_1  6.0
746 2024-05-01      4  item_1  7.0
747 2024-06-01      9  item_1  1.0
748 2024-07-01      9  item_1  3.0
749 2024-08-01      4  item_1  9.0
750 2024-09-01      4  item_1  7.0
751 2024-10-01      7  item_1  2.0
752 2024-11-01      6  item_1  8.0
753 2024-12-01      8  item_1  2.0

In [75]:
date = '2024-01-01'

In [78]:
df['2'] = df.groupby("item_id")['sales'].rolling(12).mean().shift(1)

TypeError: incompatible index of inserted column with frame index

In [77]:
df

,Date,sales,item_id,1,2
0,2023-01-01,8,item_0,NaN,<bound method Series.dropna of item_id \n...
1,2023-02-01,5,item_0,NaN,<bound method Series.dropna of item_id \n...
2,2023-03-01,3,item_0,NaN,<bound method Series.dropna of item_id \n...
3,2023-04-01,5,item_0,NaN,<bound method Series.dropna of item_id \n...
4,2023-05-01,6,item_0,NaN,<bound method Series.dropna of item_id \n...
...,...,...,...,...,...
1455,2083-06-01,6,item_1,5.0,<bound method Series.dropna of item_id \n...
1456,2083-07-01,2,item_1,7.0,<bound method Series.dropna of item_id \n...
1457,2083-08-01,1,item_1,5.0,<bound method Series.dropna of item_id \n...
1458,2083-09-01,4,item_1,2.0,<bound method Series.dropna of item_id \n...
1459,2083-10-01,2,item_1,8.0,<bound method Series.dropna of item_id \n...